body{
    background-color: aqua;
}
.head{
    margin-top: 50px;
    margin-left: 400px;
    font-size: 30px;
    margin-bottom: 50px;
    color: blue;
}
.para{
    margin-left: 490px;
    font-size: 20px;
    color: blueviolet;
}
#txt{
    margin-left: 450px;
}
.result{
    margin-left: 550px;
    margin-top: 50px;
    color: brown;
}
.btn{
    border-width: 2px;
    border-radius: 3px;
    cursor: pointer;
}
.error-para{
    color: red;
    font-size: 20px;
    font-family: cursive;
    margin-left: 380px;
}